*{
    font-family: "Rimouski", serif;
}

body{
    background-color: #0984e3;
    overflow-y: hidden;
}

.container{
    width: 90vw;
    background-color: #2d3436;

    display: block;
    margin: 0 auto;

    border-radius: 10px 10px 0 0;
}

.app-title{
    width: 90vw;
    height: 9vh;
    /* superior | direita | inferior | esquerda */
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #dfe6e9;
}

.hashtag-container{
    width: 90vw;
    height: auto;
    background-color: #b2bec3;
}
.hashtag-container p {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #2d3436;
}
.hashtag-container img{
    width: 70%;
    height: auto;
}
.footer{
    width: 90vw;
    height: 7vh;
    background-color: #2d3436;
    color: aliceblue;

    margin: 0 auto;

    border-radius: 0 0 10px 10px;
    /* superior | direita | inferior | esquerda */
    padding: 10px;
    text-align: center ;
}